services:
  database:
    container_name: database
    platform: linux/x86_64
    image: postgis/postgis:18-3.6-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=fuelfinder
      - POSTGRES_USER=databaseuser
      - POSTGRES_PASSWORD=secretpassword
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
  proxy:
    container_name: reverseproxy
    image: nginx:alpine
    depends_on:
      - stationapi
      - frontend
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8000:80
  frontend:
    container_name: frontend
    image: fuelfinder-frontend
    build: 
      network: host
      context: ..
      dockerfile:  build/frontend.Dockerfile
  stationapi:
    container_name: stationapi
    image: fuelfinder-stationapi
    build:
      context: ..
      dockerfile:  build/stationapi.Dockerfile
    ports:
      - 8080:8080
    depends_on:
      database:
        condition: service_healthy
    environment:
      - PORT=8080
      - DEBUG_MODE=false
      - POSTGIS_DSN=postgres://databaseuser:secretpassword@database:5432/fuelfinder?sslmode=disable
  scraper:
    container_name: scraper
    image: fuelfinder-scraper
    build: 
      context: ..
      dockerfile:  build/scraper.Dockerfile
    depends_on:
      database:
        condition: service_healthy
    environment:
      - IMMEDIATE=true
      - DEBUG_MODE=false
      - SCRAPER_INTERVAL=15
      - SCRAPER_URL=https://www.gov.uk/guidance/access-fuel-price-data
      - POSTGIS_DSN=postgres://databaseuser:secretpassword@database:5432/fuelfinder?sslmode=disable

volumes:
  postgisdata: