.animate {
  animation: spinner 3s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  80% {
    transform: rotate(1440deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}